#slider {
	position: relative;
	width: 800px;
	margin: 0px auto 20px auto;
}

#slider .viewer {
	width: 800px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
}

#slider .viewer .reel {
	display: none;
	height: 300px;
}

#slider .viewer .reel .slide {
	position: relative;
	width: 800px;
	height: 300px;
}